body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #2ecc71;
  /* Green background */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-container {
  text-align: center;
}

.action-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.action-button:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
}

.card {
  width: 150px;
  height: 220px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin: 50px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #2ecc71;
}